@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    color:white;
    background-color: hsl(216, 12%, 8%);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: white;
    font-family: 'Overpass', sans-serif;
    background-color: hsl(215, 18%, 13%);
    width:420px;
    height:420px;
    margin:auto;
    transform: translatey(140px);
    border-radius: 20px;
}

.container .img{
    transform: translateY(-50px);
}

.score{
    transform: translateY(-30px);
    background-color: hsl(218, 12%, 19%);
    padding:7px 20px;
    border-radius: 20px;
    font-size: 0.9rem;
    color:hsl(25, 97%, 53%);
    font-weight: lighter;
}

.content h2{
    transform: translateY(10px);
}

.content p{
 width:87%;
 margin:0 auto;
 transform: translateY(30px);
 color:hsl(216, 12%, 54%);
}